@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;500;600&display=swap');

:root {
  /* Colors */
  --primary-color: #2B2B2B;         /* Charcoal for text/buttons */
  --accent-gold: #A88C56;           /* Rich gold for accents */
  --soft-gold: #c5a76a6c;             /* Used for hover */
  --background-light: #F4F4F4;      /* Main background */
  --white: #ffffff;
  --gray-border: #ccc;

  /* Fonts */
  --heading-font: 'Playfair Display', serif;
  --body-font: 'Poppins', sans-serif;

  /* Spacing (optional) */
  --section-padding: 80px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body, html {
    min-width: 100%;
    min-height: 100vh;
    font-family: var(--body-font);
    scroll-behavior: smooth;
    overflow-x: clip;
   
    }
    
   img {
          max-width: 100%;
          height: auto;
      vertical-align: middle;
      font-style: italic;
      background-repeat: no-repeat;
      background-size: cover;
      }

      
    
      a {
        color: inherit;
        text-decoration: none;
      }
  

      .logo {
        width: 6%;
      }

      nav {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: var(--white);
        /* border-bottom: 1px solid var(--primary-color); */
    z-index: 100;

      }



      nav ul {
        list-style-type: none;
        display: flex;
        align-items: center;
      }
      
      nav .home-li {
        margin-right: auto;
       
      }

      nav li a {
        display: flex;
        text-decoration: none;
        color: var(--primary-color);
        padding: 1rem 2rem;
        transition: ease-in-out .2s;
        font-size: clamp(1rem, .9vw, 1.5rem);
      }

      nav li a:hover {
        background-color: var(--soft-gold);
        color: var(--primary-color);
        transition: ease-in-out .2s;
      }

      nav li a.active-link {
        border-bottom: 3px solid var(--primary-color);
      }
/* We include display flex on nav li here so that there is no gap between active LINK and background color, that is how I solve this */
      nav li {
        display: flex;
        align-items: center;
        justify-content: center;
      }

     .phone-button-content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2rem 0 2rem;
   
     }
   

     .container-wrapper {
      max-width: 1200px;
      margin-inline: auto;
      padding: 0 1rem;
      
     }

      section {
        width: 100%;
        background-color: var(--background-light); 
        margin-inline: auto;
        padding: 3rem 0;
       
      }

    

      .section-flex-column {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .all-services-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: 3rem;
        
  
      }
      .individual-service-container {
        display: flex;
        flex-direction: column;
       justify-content: center;
      align-items: center;
      background-color: white;
      flex: 1;
      width: 50%;
      text-align: left;
      /* transition: transform 0.4s ease, box-shadow 0.4s ease; */
      padding: 2rem 1rem 0 1rem;
      border-radius: 30px;
      font-size: 1rem;
      line-height: 1.5;
      min-width: 17rem;

}

/* .individual-service-container:hover {

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
  0 0 10px rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
} */





      .white-bg {
        background-color: var(--white);
      }

      .individual-service-container_title {
        padding: 1.5rem 0;
      }
     


.whyus-container {
  display: flex;
  padding-top: 5rem;
  justify-content: space-around;
  background-color: var(--background-light);
  align-items: center;
}


.whyus-img {
  border-radius: 30px;
  
}

.whyus-general {
  width: 45%;
}

.whyus-right {
  width: 50%;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1)
}

.whyus-left li {
width: 80%;
  font-size: 1.2rem;
  list-style: none;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 30px;
  display: flex;
  gap: 2rem;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  
}

.whyus-left li:hover {

        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
                    0 0 10px rgba(255, 255, 255, 0.5); /* light glow */        
      }



strong  {
  font-size: 1.2rem;
}

.whyus-paragraph-text {
  font-size: 1rem;
}



.reviews-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: hsla(40, 32%, 50%, 0.205);
  border-radius: 30px;
  
}

.reviews-individual-container {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
 padding: 1rem 3rem;


}

.review-photo {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 10%;
}

#reviews {
  background-color: var(--white);
  padding-top: 5rem;
}

.reviews-header {
padding: 0 1rem 5rem 1rem;
}


.review-photo-one {
  background-image: url(port3-p-500.jpg);
}
.review-photo-two {
  background-image: url(port4-p-500.jpg);
}
.review-photo-three {
  background-image: url(port6-p-500.jpg);
}
.review-photo-four {
  background-image: url(port7-p-500.jpg);
}


#contact {
  padding-bottom: 8rem;
  background-color: var(--white);
}
.contact-general {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 6rem;
}



.contact-left {
  width: 40%;
 
  
}

.contact-left img {
  width: 30rem;
  border-radius: 50px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: 50% 10%;
  
}
.contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  
}

.contact-right h2 {
  padding: 0;
}



.contact-info {
  padding-top: 2rem;
}

.contact-email {
  padding-bottom: .5rem;
  font-weight: 700;
}

.contact-phone {
  padding: .5rem 0;
  font-weight: 700;
}

.contact-phone a {
  font-weight: 400;
}

.email-span {
  background-color: none;
  font-weight: 400;
}

.opening-hours {
  font-weight: 700;
  padding-bottom: .5rem;
}
/* 12rem */
      .hero-image {
        width: clamp(15rem, 30%, 40rem);
        min-width: 15rem;
        object-fit: cover;
        border-radius: 50px;
       transition: transform 0.4s ease, box-shadow 0.4s ease;
      }

      .hero-image:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
                    0 0 10px rgba(255, 255, 255, 0.5); /* light glow */
        
      }

      .hero-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

      }

    
      
      .hero {
        display: flex;
        justify-content: center;
        /* padding: 0 6rem; */
      }

      .two {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 4rem;
      
      }

      h1 {
        font-size: clamp(3rem, 3vw + 1rem, 6rem);
        font-family: var(--heading-font);
    font-weight: 600;
    margin-bottom: 1.2rem;
      }

      h2 {
        font-size: clamp(1.8rem, 4vw + 1rem, 3rem);
        font-family: var(--heading-font);
        color: var(--primary-color);
        padding: 1rem 0;
        text-align: center;
      }

      h3 {
        font-size: clamp(1.2rem, .7vw + 1rem, 3rem);
        font-family: var(--heading-font);
        
      }

      li {
        font-size: 1.5rem;
      }

      .span-header  {
        display: inline-block;
        padding: 0 .5rem .5rem 1rem;
        background-color: var(--soft-gold);
      border-radius: 30px;
      }



      .btn {
        display: inline-block;
        padding: 1.5rem 2rem;
        background-color: #2B2B2B;
        color: #ffffff;
        text-decoration: none;
        font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
        border-radius: 5px;
        transition: background 0.3s;
        border-radius: 10px;
        margin: 0 1rem
    }

    .btn:hover {
      background-color: var(--soft-gold);
      color: var(--primary-color);
  }

  .accent-line {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: var(--accent-gold); /* deeper gold for visibility */
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    letter-spacing: 1px;
    margin: 2rem 0 4rem 0;
}

.hero-paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(1rem, 1vw + .5rem, 2rem);
  color: var(--primary-color);
}

#open-sidebar-button, #close-sidebar-button {
  display: none;
}

#overlay {
  display: none;
position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  inset: 0;
}


footer {
  background-color: var(--background-light);
  border-top: 1px solid var(--primary-color);
  padding-bottom: 2rem;
  overflow: hidden;
}

.footer-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footer-links {
  width: 100%;
  padding-top: 2rem;
}

.footer-links ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;
}

.footer-links li {
  list-style-type: none;
  font-size: 1.2rem;
}


.footer-logo  {
  width: 6rem;
}

.footer-contact {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* Media queries */

@media screen and (max-width: 68rem) {
.whyus-container {
flex-direction: column-reverse;
align-items: center;
width: 100%;
}

.whyus-left {
  width: 100%;
}

.whyus-right {
  width: 60%;
}

.whyus-left ul  {
  display: flex;
  flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
 padding-top: 2rem;
 gap: 2rem;
}

.whyus-left li {
  width: 40%;
}

.whyus-left svg {
  display: none;
}

.whyus-container {
  padding-top: 2rem;
}

.whyus-bullet-points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#reviews {
  padding: 0;
}

.reviews-individual-container {
  width: auto;
}

.contact-general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-left {
  padding-bottom: 2rem;
  width: 90%;
  text-align: center;
}

}




@media screen and (max-width: 34rem) {
  .footer-links {
    padding-top: 0;
  }
  
  .footer-links ul {
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 2rem;
  }
  .footer-contact {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

.whyus-left ul  {
  display: flex;
  flex-direction: column;
align-items: center;
 flex-wrap: wrap;
 
}

.whyus-left li {
  width: 90%;
}

.whyus-right {
  width: 90%;
}

}

@media screen and (max-width: 740px) {


  nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--primary-color);
    transition: right 300ms ease-out;
    
  
  }

  .phone-button-content {
  display: none;
  }

/* We control the opening and closing of the mobile menu with nav.show. Its at -100% by default, when we show this class it puts it back at 0 */
  nav.show {
    right: 0;
  }

  nav.show ~ #overlay {
    display: block;
  }

  nav ul {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

  }

  nav li a {
    width: 100%;
    padding-left: 2.5em;
  }

  nav .home-li {
    margin-right: unset;
  }
  nav li a.active-link {
    border-bottom: none;
  }

  
  
  #open-sidebar-button {
    display: block;
    background: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    margin-left: auto;
  }

  #close-sidebar-button {
    display: block;
    background: none;
    border: none;
    padding-top: 1em;
    padding-left: 1rem;
    cursor: pointer;
  }

  svg {
    color: black;
  }

  .mobile-header-container {
    background-color: white;
    width: 100%;
    padding: 2rem;
    position: fixed;
  }

}